<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="col-md-4 col-sm-6" ng-repeat="item in vm.productos">
        <div class="thumbnail">
         <img src="../../assets/images/yeoman.png" alt="...">
         <div class="caption">
           <h3>{{item.nombre}}</h3>
           <p class="text-muted">Marca: <strong>{{item.marca}}</strong></p>
           <p class="text-muted">Valor: {{item.valor}}</p>
           <p><button ng-click="vm.seleccionarProducto(item)" class="btn btn-primary" role="button">Añadir al carrito</button></p>
         </div>
       </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="" ng-repeat="item in vm.carrito track by $index">
        Producto: {{item.nombre}}
      </div>
      <div class="">
        Total: {{vm.total}}<br>
      </div>
      <div class="">
        cantidad : {{vm.cantidad}}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalProducto" ng-repeat="item in vm.carrito">
  <div class="modal-dialog">
    <div class="modal-content modal-altura">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Carrito de compras</h4>
      </div>
      <div class="modal-body">
        has seleccionado : {{item.nombre}}
      </div>
      <div class="modal-footer">
      	<button type="boton" class="btn btn-primary">Continuar Compra</button>
        <button type="submit" class="btn btn-success">Pasar a la caja</button>
        <!--<button id="btnNoRegistrar" class="btn btn-warning" data-dismiss="modal" ng-click="vm.noMostrarModal()">No quiero el descuento</button>-->
      </div>
    </div>
  </div>
</div>